<link href="/css/signin.css" rel="stylesheet">
 <table>
     <tr>
             <th>User Name</th>
             <th>Password</th>
             <th>Name</th>
     </tr>
     {{#each data}}
     <tr>
         <td>{{email}}</td>
         <td>{{pwd}}</td>
         <td>{{name}}</td>
     </tr>
     {{/each}}
 </table>